:root {
    /* --darkgray: rgba(43, 43, 43, 0.7019607843137254);
    --lightgray: rgb(232, 232, 232); */
    --darkgray: #CDE8E5;
    --lightgray: #EEF7FF;
}

body {
    background-image:
    url("../../public/storage/sh0030.jpg");
    /* url("../../public/storage/back1.jpg"); */
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    max-width: 100vw; /* 100vw means 100% of the viewport width */
    margin: 0 auto; /* center the body element horizontally */

    font-family:'Montserrat';
}
/* font */
.tn{
    font-family:'Playfair Display';
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
   
}

.bg-dark {
    background-color: var(--darkgray) !important;
}

.bg-light {
    background-color: var(--lightgray) !important;
}
.b{
    color: black !important;
}

/* .layout{
    display: flex;
    width: 100%;
    flex-direction: column;
} */
html{
    margin: 0px;
    padding: 0px;
}
.marginbottom{
    margin-bottom: 50vh;
}

/* backgroun per schermi piccoli */
/* 
@media screen and (max-width: 650px) {
    body {
        background-image: url("../../public/storage/sh0049(1).jpg");
        background-color: var(--lightgray);
    }
} */
/* no background home */

@media screen {
    body#home {
        background-image: none;
        
    }
}